#map-container .bm-marker-player {
    --scale: 1.1;
    scale: var(--scale);
}

#map-container .bm-marker-player[distance-data="med"], #map-container .bm-marker-player[distance-data="far"] {
    --scale: 1.9
}


.world_icon {
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
}